.navFull{
    display: inline-block;
    position: relative;
    flex-direction: row;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.685);
    border-bottom: 1px solid black;
    
}

.divImage{
    display: flex;
}

.divImage img{
    float: left
}

.divButt{
    text-align: center;
}

#aButt{
    text-decoration: none;
    color: #000000;
    margin-left: 3vw;
    font-weight: 900;
    padding-bottom: 1em;
    /*text-shadow: -1px -1px 0 #000000,1px -1px 0 #000000,-1px  1px 0 #000000,1px  1px 0 #000000;*/ 

}

#aButt:hover{
    text-decoration: underline;
    color: rgba(2, 100, 190, 0.589);
}

